.card {
  background: rgb(33, 150, 243);
  height: auto;
  min-height: 600px;
  width: auto;
  max-width: 640px;
  max-height: 500px;
  position: relative;
  margin-top: 50px;
  overflow: scroll;
  border-radius: 40px
}

.card > .img-container {
  height: 50%;
  overflow: hidden;
}
.card > .img-container > img {
  height: 100%;
box-sizing: border-box;
max-width: 100%;
max-height: 100%;
width: 100%;
  overflow: hidden;  
}

.cardHeader {
  font-size: 40px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}

br {
  height: 5px;
}

text {
  display: block;
  padding: 0;
  width: 100%;
  min-height: 80px;
  height: 100%;
  color: white;
  text-align: left;
  font-weight: 200;
  font-size: 25px;
  padding: 20px;
  overflow-wrap: break-word;
}

h5 {
  font-weight: 300; 
font-style: italic;   
margin-bottom: 0;
padding-bottom: 0;
  font-size: 30px;
}

h3 {
  margin-top: 10px;
}