.hero {
  height: 100%;
  min-height: 1200px;
  background-size: cover;
  background-position: top;
  position: relative;
  background-size: auto, cover;
  background-repeat: repeat-y ;
  overflow: hidden;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}
