.ml9 {
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  display: inline-block;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

h2 {
  color: white;
  font-size: 60px;
}

@media screen and (max-width: 827px) {
    .letter {
      font-size: 55px;
    }
  } 
