.ml9 {
  font-weight: 200;
  font-size: 4em;
}

h2 {
  color: white;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 827px) {
    .letters {
      font-size: 45px;
    }
  } 

  @media only screen and (min-width: 415px) {
    .letters {
     font-size: 40px;
  }
  }
  
  @media only screen and (max-width: 320px) {
    .letters {
     font-size: 35px;
  }
  }

  @media screen and (min-width: 828px) {
    .letters {
      font-size: 50px;
    }
  } 