form.search {
  overflow: hidden;
}

form {
  text-align: center;
  display: inline-block;
  width: 100%;
  min-width: 600px;
  max-width: 1200px;
  margin-top: 100px;

    font-size: 14px;

}

input:hover {
  box-shadow: 15px 15px 15px black;
}

label {
color: white;
font-size: 30px;
}

#search {
  font-size: 30px;
  text-align: left;
  text-indent: 40px;
  border-radius: 40px;
  z-index: -2;
}

#search-icon {
  z-index: 1;
  position: absolute;
  left: 15px;
  margin-top: 20px;
  width: 30px;
  height: 20px;
}

@media only screen and (max-width: 479px) {
  form {
    min-width: auto;
    max-width: auto;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 480px) {
  form {
    min-width: auto;
    max-width: auto;
    margin-top: 60px;
    margin-bottom: -10px;
  }
}