.contact-container {
 
    min-height: 135px;
    width: 100%;
    position: relative;
    border-radius: 40px;
    max-height: 135px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
  
  }
  
  .contact-container:hover {
    box-shadow: 15px 15px 15px black;
  }
  
  .contact-header {
  text-align: center;
  
  }
  
  .contact-children {
    text-align: left;
  }