.skills-container {
 
  height: auto;
  min-height: 170px;
  width: 100%;
  position: relative;
  overflow: scroll;
  border-radius: 40px;
  margin-top: 50px;
  max-height: 170px;
  border-style: solid;
  border-color: rgb(33, 150, 243);

}

.skill-card {
  height: auto;
  text-align: center;
  min-height: 25px;
  max-height: 50px;
  width: auto;
  max-width: 250px;
  min-width: 150px;
  position: relative;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  font-size: 25px;
  color: white;
  border-color: white;
  border-width: 1px;
  position: relative;
  border-style: solid;
  margin: 5px;
  background-color:black;
  
}

.skill-card:hover {
background: rgb(33, 150, 243);

}





/* .card:hover {
  content:"ADD";
  display: block ;
  text-decoration: none;
  width:100%;
  height:100%;
  background: red;
  position:absolute;
  top:0;
  left:0;
  color: white;
  border-color: red;
}  */


a {
  text-decoration: none;
  color: white;
}

/* a:hover {
  text-decoration: none;
  color: white;
} */

br {
  height: 5px;
}

text {
  display: block;
  padding: 0;
  width: 100%;
  min-height: 80px;
  height: 100%;
  color: white;
  text-align: left;
  font-weight: 200;
  font-size: 25px;
  padding: 20px;
  overflow-wrap: break-word;
}

h5 {
  font-weight: 300; 
font-style: italic;   
margin-bottom: 0;
padding-bottom: 0;
  font-size: 30px;
}

h3 {
  margin-top: 10px;
}