.skills-container {
 
  height: auto;
  min-height: 170px;
  width: 100%;
  position: relative;
  overflow: scroll;
  border-radius: 40px;
  margin-top: 50px;
  max-height: 170px;
  border-style: solid;
  border-color: rgb(33, 150, 243);
  justify-content: center;

}

